/* @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700"); */

.card {
  margin: 10px;
  background: linear-gradient(to right, rgb(0, 1, 12), rgb(49, 49, 59));
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  max-width: 450px;
  display: flex;
  border-radius: 25px;
  position: relative;

  &:hover {
    transition: 0.3s;
    transform: scale(1.03);
  }
}

.card h2 {
  color: white;
  margin: 0;
  padding: 0 1rem;
}
.card .title {
  padding: 1rem;
  text-align: right;
  color: gray;
  font-weight: bold;
  font-size: 12px;
}
.card .desc {
  color: gray;
  padding: 0.5rem 1rem;
  font-size: 12px;
}
.card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding-top: 1rem;
}

.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid rgb(0, 1, 12);
  top: 15px;
  left: 110px;
  img {
    width: 100%;
    border-radius: inherit;
  }
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}

.card-image {
  width: 150px;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url('https://pixabay.com/get/g41225b0bd343ff8ae5118f838c83c188c33fe1a06e600e82d4b5b4b7925ef6b51f8c8ee83ba54c761af2e5140456d2608af8c2fe72947e61ceb51069b794637820bb62c4883b20826703af398ddb43d3_640.jpg.jpg');
  background-position: bottom center;
  background-size: cover;
}

button {
  border: none;
  background: none;
  padding-bottom: 0;
  font-size: 24px;
  color: #8bc34a;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: #4caf50;
    transform: rotate(22deg);
    // transform: scale(1.2);
  }
}

.status {
  width: 16px;
  height: 16px;
  border: 4px solid  rgb(0, 1, 12);
  border-radius: 50%;
  position: absolute;
  right: -8px;
  top: 0px;
  // transform: translate(40%, -40%);
  background-color: rgb(33, 34, 35);
}
.active {
  background-color: rgb(48, 249, 75);
}
.away {
  background-color: rgb(249, 48, 48);
}
.sick {
  background-color: rgb(249, 48, 48);
}

