<div class="card">
  <div class="img-avatar">
    <img
      src="https://images.unsplash.com/photo-1597223557154-721c1cecc4b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
      alt="card image"
    />
    <span class="status active"></span>
  </div>
  <div class="card-text">
    <div class="card-image"></div>
    <div class="title-total">
      <div class="title">Dept. manager SOFTWARE</div>
      <h2>Eli Nordmann</h2>
      <div class="desc"></div>
      <div class="planned">
        <span><i class="fa fa-calendar">&nbsp;</i></span> 25.04-2023 -
        30.04.2023: fri
      </div>
      <div class="actions">
        <button><i class="fa fa-home"></i></button>
        <button><i class="fa fa-edit"></i></button>
        <button><i class="fa fa-calendar"></i></button>
      </div>
    </div>
  </div>
</div>
