<div class="chip">
  <div class="img-avatar">
    <img
      src="https://gravatar.com/avatar/1a2e88d917a70ca43b39498ba1fc5d0a?s=80&d=https://static.codepen.io/assets/avatars/user-avatar-150x150-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png"
      alt="card image"
    />
    <span class="status away"></span>
  </div>
  <div class="container">
    <div class="texts">
      <h3>Ola Nordmann</h3>
      <div class="desc">Jeg er tilbake på jobb 14 april</div>
      <div class="planned">
        <span><i class="fa fa-calendar">&nbsp;</i></span> 25.04-2023 -
        30.04.2023: fri
      </div>
    </div>
    <div class="vertical-line"></div>
    <button><i class="fa fa-edit"></i></button>
  </div>
</div>
